/*ELEMENTS HTML*/

body {
  font-family: 'Open sans';
  color: rgb(30,30,30);
  background-color: rgb(240,240,240);
}
h1, h2, h3 {
  font-family: 'Raleway', sans-serif;
  color: #84c9ff;
}
a {
  color: rgb(180,180,180);
  text-decoration: none;
}
a:hover {
  color: #84c9ff;
  text-decoration: none;
  transition: ease 5sec;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/*UTILITIES*/

.list-inline{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.list-inline li {
    display: inline-block;
}

.top-right-corner {
  position: absolute;
  top: 10px;
  right: 10px;
}

/*COMPOSANTS*/

/*boîtes*/
.box-white{
  background-color: white;
  padding: 10px;
  text-align: center;

  margin: 20px 10px;
  border-radius: 5px;
  border: 1px solid rgb(220,220,220) ;
}

.box-white h3{
  height: 52px;
  overflow: hidden
}

/*bannière*/
.banner{
  background-image: url("images/banner.jpeg");
  background-size: cover;
  padding: 135px 0;
  text-align: center;
}
.banner > h1, h2{
  text-shadow: 1px 1px 3px rgb(80,80,80);
}

/*boutons*/
.button-blue{
  margin: 20px;
  background-color: #84c9ff;
  padding: 10px;
  font-size:20px;
  color: white;
  border-radius: 2px;
  border: none;
}
.button-blue:hover{
  background-color: #74b1e0;
  color: rgb(230,230,230);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/*avatar*/
.img-rounded{
  border-radius: 50%;
  border: 1px solid rgb(150,150,150)
}


/*footer*/
footer{
  position: relative;
  display:block
}

footer ul{
  position: absolute;
  right: 5%;
}

footer .list-inline >li{
  color: rgb(120,120,120);
  font-size: 26px;
  padding: 10px 20px;
}

footer li:hover{
  color: #84c9ff;
}

footer li{
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/*nav*/

nav {
  position: fixed;
  top: 20px;
  width: 100%;
  z-index: 1;
  text-align: center
}


nav li {
  width: 30%;
  text-shadow: 1px 1px 3px rgb(80,80,80);
}


nav li a {
  color: white;
  font: 25px/1 Raleway;
}

/*table*/
table {
  margin: auto
}
.cell-padded{
  padding: 10%
}
.cell-padded img{
  width: 80%
}
td>h3, td>p {
  text-align: left
}


/*compteur*/

#compteur{
  width: 150px;
  margin:auto;
  position : relative
}


#aiguille{
  width: 86px;
  height: 54px;
  text-align:left;
  display:flex;
  align-items:flex-end;
  position: absolute;
  left: 32px;
  top: 46px;

}
#aiguille img{
  width: 60px;
}

/*gps*/

#gps{
  width: 150px;
  margin:auto;
  position : relative
}


#pointer{

  text-align:left;
  display:flex;
  align-items:flex-end;
  position: absolute;
  left: 22px;
  bottom: 26px;

}
#pointer img{
  width: 20px;
}

/*maintenance*/

#maintenance{
  width: 150px;
  height: 150px;
  margin:auto;
  position : relative
}


#wheel{
  text-align:left;
  display:flex;
  align-items:flex-end;
}
#tool{
  width: 50px;
  position: absolute;
  left: 50px;
  bottom: 50px
}
